@font-face {
    font-family: 'pokePolice';
    src: url('Pokemon Solid.ttf'), format('truetype');
}
body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f8f9fa;
            color: #333;
            margin: 0;
            padding: 0;
            background-image: url('fond_ecran.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            cursor: url('https://cur.cursors-4u.net/games/gam-13/gam1282.cur'),auto;
        }
        h1 {
            color: #ff0000;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #ffff00;
            margin-top: 0px;
            font-family: 'pokePolice';
            font-size : 50px;
        }
        .pokemon-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;
        }
        .pokemon-card {
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            width: 200px;
            background-color: rgba(255, 255, 255, 0.6);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s, box-shadow 0.3s;
        }
        .pokemon-card:hover {
            transform: scale(1.1) rotate(5deg);
            box-shadow: 0px 4px 20px rgba(255, 215, 0, 1);
            transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
        }
        .pokemon-card img {
            width: 100px;
            height: 100px;
        }
        .navigation-buttons {
            margin: 20px;
        }
        .navigation-buttons button {
            padding: 10px 20px;
            margin: 5px;
            background-color: #ff3e3e;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .navigation-buttons button:hover {
            background-color: #e63e3e;
        }
        .pokemon {
            background-image: url('test.png');
            background-size: cover;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            width: 300px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .pokemon img {
            width: 150px;
            height: 150px;
        }

        .filters {
            margin: 20px;
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        
        .filters select {
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .search {
            margin: 20px;
        }
        .search input {
            padding: 10px;
            width: 200px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .search button {
            padding: 10px 15px;
            background-color: #ff3e3e;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .search button:hover {
            background-color: #e63e3e;
        }